header {
    background-color: #70acd6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 10px;
}
​
.white {
    color: white;
}
​
.underline {
    text-decoration: underline;
    margin: 0;
}
​
.uppercase {
    text-transform: uppercase;
}
​
#logo {
    width: 100px;
    height: 70px;
    margin-top: 17px;
}
​
main {
    display: flex;
    flex-flow: row wrap;
}
​
nav {
    background-color: #a8abd5;
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    padding-bottom: 40px;
}
​
a {
    margin-top: 10px;
    margin-bottom: 10px;
}
​
#content {
    width: 80%;
    padding: 40px;
    box-sizing: border-box;
}
​
#title {
    border-bottom: black 1px solid;
    padding-bottom: 10px;
}
​
#info {
    display: flex;
    flex-flow: row wrap;
}